body{ margin: 0;
  padding: 0;
  color: #10375c;
  font-size: 17px ;
  font-family: 'Sue Ellen Francisco',cursive;
  text-align: center;
}
.navbar-nav{
  float:right;
  margin-top: 30px;
}
.navbar-nav li{
margin-right: 10px;
  padding:10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:22px;
  font-weight: bolder;
z-index:3;}

.navbar-nav li a:hover {
  box-shadow: 4px 4px yellow;
}
h1{text-align: left;
  font-size:53px;
  font-family:'Sue Ellen Francisco',cursive;
  font-weight: bolder;
}
h2
{ text-align: left;
  font-size:40px;
font-family:'Rancho',cursive;
font-weight: bold;
}
h3
{text-align: left;
  font-size:30px;
font-family:'Rancho',cursive;
font-weight: lighter;
}
p{text-align : left;
  color:black;
  font-weight: lighter;
  font-family: sans-serif,monospace;
font-size: 15px;padding:20px;
}
table{
  width:100%;font-size:22px;letter-spacing:2px;font-family: 'Rancho';}
  td{padding : 7px;
}
.linkc:hover{
text-decoration-style:  wavy;
text-decoration-color: white;
}
.linkb:hover{
  text-decoration-style:  wavy;
  text-decoration-color: yellow;
}
#logo{
  float : left;
  display: inline-block;
  height: 130px;
  width : 260px;}
#title{
height: 100vh;
width:100%;
font-weight:bold;
background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../Images/th.png');
background-repeat : no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
font-family: 'Sue Ellen Francisco',cursive;

}
#ofstedlogo{
  float : left;
  display: inline-block;
  height: 60px;
  width : 120px;
  z-index:10;
}
#cur{ height: 100vh;
font-weight:bold;
background-image:url('../Images/bnr1.jpg');
background-repeat : no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.container-fluid{
  padding:3% 5%;
}

#aboutus{
  height: 100vh;
  font-weight:bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../Images/bnr6.jpg');
  background-repeat : no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#imggallery{ height:550px;
font-weight:bold;
background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url('../Images/poster.jpg');
background-repeat : no-repeat;
background-position: bottom;
background-size: cover;
background-attachment: fixed;
}
#contact{ height:100vh;
font-weight:bold;
background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('../Images/bnr3.jpg');
background-repeat : no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}
.feature-box{
text-align: center;
padding: 2%;
color:white;
background-color: black;
}
.icon{
  color:white;
  margin-bottom: 2rem;
}
.icon:hover{
  color:pink;
}
.feature-home{background-color: black;
  text-align: center;
  color:white;
  padding:4.5%;
}
.featureshome{
  padding : 3% 3%;
}
.footer{
  text-align: center;
}
.tpic{
border-radius: 100%;margin-bottom:1rem;width:50%;
}
#testimonials {
  background-color: black;
  padding:5%;
  text-align: center;
  color:white;
}
carousel-item{
  padding: 7% 25%;
}
.testimonialimg{
  border-radius:100%;width:10%;margin:20px;
}
#form{
  padding: 10px;
  font-size: 20px;
}
#form label{
  margin-left:20%;
  display: block;
}
#form input,textarea{
  display: block;
  border-radius: 4px;
  width:80%;
  background-color: #f4f7c5;
  color:black;
  padding: 10px;
}
#form textarea{
  height:200px;
}
.buttons{text-align: center;
  overflow: hidden;
  clear: both;
  display: block;

}
form .submit : hover{
  cursor:pointer;
}

#hug-image{
  height: 500px;width: 400px;border:2px ridge green;
}
#foodimg{
  height:250px;width:330px;border:2px ridge pink;
}
@media (min-width:1173px) and (max-width:1282px) {
  h1{ font-size: 250%;}
    h2{font-size:200%;}
    h3{font-size: 150%;}
  p{ font-size: 90%;}
#foodimg{
  height: 80%;
  width: 60%;
}
#logo{
float : left;
display: inline-block;
height: 20%;
width : 20%;}
#ofstedlogo{
float : left;
display: inline-block;
height: 7%;
width : 7%;
}
.navbar-nav >li{
  font-size : 100%;
}

}

@media (min-width:992px)and (max-width:1172px) {
  h1{ font-size: 250%;}
    h2{font-size:200%;}
    h3{font-size: 150%;}
  p{ font-size: 85%;}
#foodimg{
  height: 80%;
  width: 60%;
}
.tpic{
border-radius: 100%;margin-bottom:1rem;width:60%;
}
#logo{
float : left;
display: inline-block;
height: 20%;
width : 20%;}
#ofstedlogo{
display: none;
}
.navbar-nav > li{
  font-size:100%;;
}
#testimonials{
  padding : 5%;
}
.testimonialimg{
  width:13%;
}
.featureshome{
  text-align: justify;
}
.embeds{
  height: 90%;
  width: 90%;
}
#hug-image{
  height: 100%;width:80%; border:2px ridge green;
}
}
@media (min-width:768px ) and (max-width:991px) {
  h1{ font-size: 250%;}
    h2{font-size:200%;}
    h3{font-size: 150%;}
  p{ font-size: 85%;}
  #logo{
  float : left;
  display: inline-block;
  height: 25%;
  width : 25%;}
  #ofstedlogo{
  float : left;
  display: inline-block;
  height: 10%;
  width : 10%;
  }
.tpic{
border-radius: 100%;margin-bottom:1rem;width:40%;
}
.feature-home{
  padding:3%;
  text-align: justify;
}

.featureshome{
  padding: 2%;
}
.navbar-nav > li{
  font-size:100%;
    background-color: #14274e;
}

#testimonials{
  padding : 5%;
}
.testimonialimg{
  width:15%;
}
#hug-image{
  height: 95%;width:50%; border:2px ridge green;
}
#foodimg{
  height:60%;width:70%;border:2px ridge pink;margin: 2%;
}
}
@media (min-width:605px)and (max-width:767px)
{
  h1{ font-size: 220%;}
    h2{font-size:160%;}
    h3{font-size: 120%;}
  p{ font-size: 85%;}
  #logo{
  float : left;
  display: inline-block;
  height: 30%;
  width : 30%;}
  #ofstedlogo{
  float : left;
  display: inline-block;
  height: 10%;
  width : 10%;
  }
.tpic{
border-radius: 100%;margin-bottom:1rem;width:40%;
}
.feature-home{
  padding:2%;

}

.featureshome{
  padding: 20%;
}
.navbar-nav > li{
  font-size:100%;
    background-color: #14274e;
}

#testimonials{
  padding : 15%;
}
.testimonialimg{
  width:25%;
}
#hug-image{
  height: 100%;width:60%; border:2px ridge green;
}
#foodimg{
  height:80%;width:40%;border:2px ridge pink;margin:3%;
}
}
@media (min-width:310px) and (max-width:604px) {
  h1{ font-size: 160%;}
    h2{font-size:120%;}
    h3{font-size: 100%;}
  p{ font-size: 75%;}
  #logo{
  float : left;
  display: inline-block;
  height: 40%;
  width : 40%;}
  #ofstedlogo{
  float : left;
  display: inline-block;
  height: 10%;
  width : 10%;
  }
.embeds{
  height : 100%;
  width: 50%;
}
.navbar-nav > li{
  font-size:80%;
  background-color: #14274e;
}
#testimonials{
  padding : 15%;
}
.testimonialimg{
  width:25%;
}
.tpic{
border-radius: 100%;margin-bottom:1rem;width:30%;
}

.featureshome{
  display: none;
}
table{
  width:100%;font-size:90%;}
  td{padding : 0.5%;
}
#hug-image{
  height: 100%;width: 60%;border:2px ridge green;
}
#foodimg{
  height:80%;width:50%;border:2px ridge pink;margin:3%;
}}
@media (max-width:309px){
h1{ font-size: 120%;}
  h2{font-size:100%;}
  h3{font-size: 80%;}
p{ font-size: 40%;}
#logo{
float : left;
display: inline-block;
height: 70%;
width : 70%;}
#ofstedlogo{
display: none;
}
.embeds{
display: none;
}
.navbar-nav > li{
font-size:60%;
background-color: #14274e;
}
#testimonials{
padding : 15%;
}
.testimonialimg{
width:30%;
}
.tpic{
border-radius: 100%;margin-bottom:1rem;width:30%;
}

.featureshome{
display: none;
}
table{
display: none;
}
#hug-image{
height: 100%;width: 60%;border:2px ridge green;
}
#foodimg{
height:100%;width:80%;border:2px ridge pink;margin:3%;
}}
